.sentence-bar{
    background-color: #FFEDF0;
    max-width: 60%;
    padding: 10px 20px;
    margin: auto;
    border-top: 1px solid lightpink;
    border-right: 1px solid lightpink;
    border-bottom: 1px solid lightpink;
    border-left: 1px solid lightpink;
    box-shadow: 0 10px 20px lightpink, 0 6px 6px rgba(0,0,0,0.23);
}
.correct_letter{
    color: black;
}
.incorrect_letter{
    color: red;
}