.sentence-bar{
    background-color: #ffffff;
    max-width: 60%;
    padding: 10px 20px;
    margin: auto;
    border-top: 1px solid #76758D;
    border-right: 1px solid #76758D;
    border-bottom: 1px solid #76758D;
    border-left: 1px solid #76758D;
    box-shadow: 0 3px 3px #76758D, 0 6px 6px rgba(0,0,0,0.23);
}
.correct_letter{
    color: black;
}
.incorrect_letter{
    color: red;
}